<h1>Your Nutritional Schedule | PlentiBytes</h1>

<div class="middle-card-container">
    <div class="fifty-fifty-split-grid">
        <div class="fifty-left-split-grid">
            <div class="schedule-day-box">
                <h1>Sunday</h1>
            </div>  
            <div class="schedule-day-box">
                <h1>Monday</h1>
            </div> 
            <div class="schedule-day-box">
                <h1>Tuesday</h1>
            </div>  
            <div class="schedule-day-box">
                <h1>Wednesday</h1>
            </div>  
            <div class="schedule-day-box">
                <h1>Thursday</h1>
            </div>  
            <div class="schedule-day-box">
                <h1>Friday</h1>
            </div>     
            <div class="schedule-day-box">
                <h1>Saturday</h1>
            </div>         
        </div>
        <div class="fifty-right-split-grid">
            <div class="middle-card-container">
                <h2 class="centered-title">Your Goals:</h2>
            </div>
            <div class="middle-card-container">
                <h2 class="centered-title">Completed Goals:</h2>
            </div>
        </div>
    </div>
</div>