<div class="middle-card-container">
    <h2>Welcome to PlentiBytes</h2>

    <div class="middle-card-container light-gray-back">
        <h3 class="centered-title">Get Started</h3>
    </div>

    <div class="middle-card-container">
        <p class="centered-title">A streamlined environment for keeping track of your nutritional goals.</p>
    </div>

    <div class="middle-card-container light-gray-back centered-title">
    <!---->
        <a href="/auth/login" id='login-button'>
            Login/Register
        </a>
    </div>
</div>