<!--
    [X]  Your application name... give it a good name!
    [X]  The team delivering the application
    [X]  A last updated entry that includes the last sprint and date when the proposal was updated
    [X]  A brief description of the application from a end user perspective
    [X]  A prioritized list of desired features that you believe can be delivered in the time allowed
    [X]  A non-prioritized list of features that you would like to implement if there was more time
    [X]  The languages and platforms that will be utilized
    [X]  The technical features being implemented that demonstrates things you have learned in the class
    [X]  The technical features being implemented that go beyond what we learned in class
-->

<h1>Proposal | PlentiBytes</h1>


<div class="fifty-fifty-split-grid" id="main-grid">
    <div class="fifty-left-split-grid" id="main-left-grid">
        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">Application Name:</h4>
            <h4 class="middle-card-container centered-title narrow-margins white-back">PlentiBytes</h4>
        </div>

        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">What is PlentiBytes?</h4>
            <div class="middle-card-container white-back narrow-margins" id="override-overlap">
                <p class="centered-title" id="override-overlap">
                    PlentiBytes aims to provide any person with a stream-lined environment to access
                    their nutritional data and plan goals ahead so they can be healthy and happy.
                </p>
            </div>
        </div>

        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">The Team:</h4>
            <h4 class="middle-card-container centered-title narrow-margins white-back">Dominic Bruno</h4>
            <div class="fifty-fifty-split-grid">
                <div class="fifty-left-split-grid middle-card-container narrow-margins white-back centered-title">
                    <h5>Server-Side Dev.</h5>
                </div>
                <div class="fifty-right-split-grid middle-card-container narrow-margins white-back centered-title">
                    <h5>Client-Side Dev.</h5>
                </div>
            </div>
        </div>

        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">Utilized Technologies:</h4>
            <div class="middle-card-container white-back">
                <div class="thirty-forty-thirty-split-grid">
                    <div class="thirty-left-split-grid">
                        <div class="middle-card-container">
                            <h5 class="centered-title">
                                -HTML<br>
                                -CSS<br>
                                -JS <br>
                            </h5>
                        </div>
                    </div>

                    <div class="forty-middle-split-grid">
                        <div class="middle-card-container">
                            <h5 class="centered-title">
                                -Postgres<br>
                                <br><br>
                            </h5>
                        </div>
                    </div>

                    <div class="thirty-right-split-grid">
                        <div class="middle-card-container">
                            <h5 class="centered-title">
                                -Node<br>
                                -Express<br>
                                <br>
                            </h5>
                        </div>
                    </div>

                </div>              
            </div>
        </div>

    </div>

    <div class="fifty-right-split-grid" id="main-right-grid">
        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">Updates:</h4>
            <div class="middle-card-container white-back">
                <ul class="justified-list">
                    <li>Updated: 3/27/2021, Sprint 0</li>
                    <li>Updated: 3/26/2021, Sprint 0</li>
                </ul>
            </div>
        </div>


        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">Current Desired Features:</h4>
            <div class="middle-card-container white-back">
                <ol class="justified-list">
                    <li>Allow anyone to join through the use of a Google login </li>
                    <li>Allow anyone to access and modify their nutritional + health data online</li>
                    <li>Allow anyone to create and modify their nutritional + health goals</li>
                    <li>Allow anyone to create and modify a nutritional schedule</li>
                </ol>
            </div>
        </div>

        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">Current Potential Features:</h4>
            <div class="middle-card-container white-back">
                <ul class="justified-list">
                    <li>Allow anyone to share their data</li>
                    <li>Allow anyone to see shared data</li>
                    <li>Allow anyone to share nutritional schedules</li>
                    <li>Allow anyone to see and colloborate on shared nutritional schedules</li>
                </ul>
            </div>
        </div>

        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">Representative practices:</h4>
            <div class="middle-card-container white-back">
                <ul class="justified-list">
                    <li>Connecting Server Side and Client Side</li>
                    <li>Hosting Node website on Azure</li>
                    <li>HTML/CSS</li>
                    <li>Node + Express</li>
                    <li>Express Handlebars</li>
                </ul>
            </div>
        </div>

        <div class="middle-card-container light-gray-back">
            <h4 class="bigger-font centered-title">Non-Representative practices:</h4>
            <div class="middle-card-container white-back">
                <ul class="justified-list">
                    <li>UIs and more in-depth fucntionality</li>
                    <li>Cloud Hosting Database</li>
                    <li>Connecting Database to App</li>
                    <li>Login / Authentication System</li>
                    <li>Connecting to APIs</li>
                    <li>Connecting to Libraries using CDN</li>
                </ul>
            </div>
        </div>

    </div>

</div>

