<h1>Add a Foods | PlentiBytes</h1>

<div class="middle-card-container">
    <form action="/foods/add" method="POST" name="addFoodForm">
        <label for="foodDescription">Food Description</label>
            <br>
        <!-- Regex -> Must be Letters -->
        <input type="text" name="foodDescription" pattern="[A-Za-z]*" required="required">
            <br><br>

        <label for="servingSize">Serving Size in (g)</label>
            <br>
        <input type="text" name="servingSize" required>
            <br><br>

        <label for="calorieServing">Calories per Serving: (cal)</label>
            <br>
        <input type="text" name="calorieServing" required>
            <br><br>

        <label for="carbohydrateServing">Carbohydrates per Serving: (g)</label>
            <br>
        <input type="text" name="carbohydrateServing" required>
            <br><br>

        <label for="fatServing">Fats per Serving: (g)</label>
            <br>
        <input type="text" name="fatServing" required>
            <br><br>

        <label for="fiberServing">Fiber per Serving: (g)</label>
            <br>
        <input type="text" name="fiberServing" required>
            <br><br>

        <label for="proteinServing">Proteins per Serving: (g)</label>
            <br>
        <input type="text" name="proteinServing" required>
            <br><br>

        <label for="sugarServing">Sugar per Serving: (g)</label>
            <br>
        <input type="text" name="sugarServing" required>
            <br><br>

        <button type="submit">Add</button>
        <br><br>
    </form>
    <a href="/foods">Return</a>
</div>