<h1>View your Foods | PlentiBytes</h1>

<div class="middle-card-container centered-title">
    <a href="/foods/add">Add a Food!</a>
    <br><br>
    
    <div class="thirty-forty-thirty-split-grid">
        <div class="thirty-left-split-grid middle-card-container ">
            <h3>Calories-Dense Foods:</h3>
        </div>

        <div class="forty-middle-split-grid middle-card-container">
            <h3>Carbohydrate-Dense Foods:</h3>
        </div>

        <div class="thirty-left-split-grid middle-card-container">
            <h3>Fiber-Dense Foods:</h3>
        </div>
    </div>

    <div class="thirty-forty-thirty-split-grid">
        <div class="thirty-left-split-grid middle-card-container">
            <h3>Fat-Dense Foods:</h3>
        </div>
        
        <div class="forty-middle-split-grid middle-card-container">
            <h3>Protein-Dense Foods:</h3>
        </div>

        <div class="thirty-left-split-grid middle-card-container">
            <h3>Sugar-Dense Foods:</h3>
        </div>
    </div>
</div>