
<h1>Add a Daily Goal | PlentiBytes</h1>

<div class="middle-card-container">
    <h1 class="centered-title">Set some goals</h1>
    <br>
    <h3 class="centered-title">Click on one of the modules below to enter that category to your schedule.</h3>
    <h3 class="centered-title"> Make sure to commit your goals to the schedule by clicking the commit button below</h3>
    <br>
    <div class="inline-scroll-item hover-click quarter-constant-constraints dashed-border orange-back" onclick="openGoalModal(0);"><p>Calories</p></div>
    <div class="inline-scroll-item hover-click quarter-constant-constraints dashed-border yellow-back" onclick="openGoalModal(1);"><p>Carbohydrates</p></div>
    <div class="inline-scroll-item hover-click quarter-constant-constraints dashed-border dark-blue-back" onclick="openGoalModal(2);"><p>Fats</p></div>
    <div class="inline-scroll-item hover-click quarter-constant-constraints dashed-border green-back" onclick="openGoalModal(3);"><p>Fiber</p></div>
    <div class="inline-scroll-item hover-click quarter-constant-constraints dashed-border purple-back" onclick="openGoalModal(4);"><p>Proteins</p></div>
    <div class="inline-scroll-item hover-click quarter-constant-constraints dashed-border red-back" onclick="openGoalModal(5);"><p>Sugar</p></div>
</div>

<div class="middle-card-container centered-title">
    <h1>Current goals pending commitment</h1>
    <br>
    <h3 class="centered-title">Make sure to submit your commitments before moving on in the site.</h3>
    <div class="middle-card-container">
        <ul id="commitments-list-items">

        </ul>
    </div>

    <button onclick="clearAll();">Clear All</button>

    <form action="/schedule/{{scheduleID}}/goals/daily" method="post">
        <div id="commitments-list">

        </div>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="center-modal middle-card-container hidden black-back">
    <div class="goal-modal-content white-back minimally-padded-bottom">
        <span class="close" onclick="closeCategoryModal();">&times;</span>
        <h1 class="centered-title" id="goal-modal-title">...</h1>

        <form action="" class="middle-card-container">
            <label for="goal-day">Goal:</label>
            <select name="goal-day" id="goal-day">
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select>
            <br>

            <label for="amountOfGoal">Amount:</label>
                <input type="text" id="goal-amount" required>
            <br>
            <input type="button" onclick="pushToCommitments();" value="Commit">
        </form>
    </div>
</div>

        
<script>
    // TODO: Modularize with Objects / Classes
    // TODO: Add numbe rinput validation on pre-post FORM


    let i = 0;

    function closeCategoryModal() {
        document.querySelector('.center-modal').style.display = 'none';
    }

    // Open the HTML Modal of category w/ appropriate index
    function openGoalModal(indexIn) {
        let modal = document.querySelector('.center-modal');
        let title = document.querySelector('#goal-modal-title');
        let category = document.querySelectorAll('.inline-scroll-item')[indexIn];
        title.innerHTML = "";

        let s = category.innerHTML;
        title.innerHTML += s;
        modal.style.display = "block";
    }

    // Clears out pending commits & their related hidden data
    function clearAll() {
        let list = document.querySelector('#commitments-list-items');
        let commits = document.querySelector('#commitments-list');

        list.innerHTML = '';
        commits.innerHTML = '';
    }


    function pushToCommitments() {
        i++;
        // Ensures method of removing final string does not mess with data on server side
        // TODO - accomodate higher number commits
        if (i > 9) {
            alert('Please only enter 9 commits at a time');
            return;
        }
        let amount = parseInt(document.querySelector('#goal-amount').value, 10); 
        let type = document.querySelector('#goal-modal-title').childNodes[0].innerHTML;
        let day = document.querySelector('#goal-day').value; 
        let list = document.querySelector('#commitments-list-items');
        let commits = document.querySelector('#commitments-list');

        // Validation of pre-psot form
        if(isNaN(amount)) {
            alert("Please make sure to enter a number for amount...");
            return;
        }

        let listItem = document.createElement('li');
        listItem.style.listStyle = 'inside';
        
        // Day
        let commitmentDay = document.createElement('input');
        commitmentDay.type = "hidden"
        commitmentDay.name = 'day' + i;
        commitmentDay.value = day;
        
        // Amount
        let commitmentAmount = document.createElement('input');
        commitmentAmount.type = "hidden"
        commitmentAmount.name = 'amount' + i;
        commitmentAmount.value = amount;

        // Food
        let commitmentType = document.createElement('input');
        commitmentType.type = "hidden"
        commitmentType.name = 'type' + i;
        commitmentType.value = type;


        // commits -> get posted to backend
        // list -> for view
        listItem.innerHTML = day + " Goal: " + amount + " " + type;
        commits.appendChild(commitmentDay);
        commits.appendChild(commitmentAmount);
        commits.appendChild(commitmentType);
        list.appendChild(listItem);
    }
</script>