<h1>Add a Weekly Goal | PlentiBytes</h1>

<div class="middle-card-container">
    <form action="" class="middle-card-container">
        <label for="goal-type">Goal:</label>
        <select name="goal-type" id="goal-type">
            <div class="">
                <option value="calories">Calories</option>
                <option value="carbohydrates">Carbohydrates</option>
                <option value="fats">Fats</option>
                <option value="proteins">Proteins</option>
                <option value="fiber">Fiber</option>
                <option value="sugar">Sugar</option>
                <option value="water">Water</option>
            </div>
        </select>
        <br>

        <label for="amountOfGoal">Amount:</label>
            <input type="text">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>